html, .root {
  font-size: 20px;
  line-height: 30px;
  scroll-behavior: smooth;
  --colWhite: #f5f6f6;
  --colPrim: #EE6F57;
  --colBG: #13232C; /*122935*/
  --colBGDark: #0C1114;
  --colYellow: #FFB627;
  --colGrey1: #404040;
  --colGrey2: #cccccc;
}

body, .article {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: auto;
  background: var(--colBG);
	background-position: center;
  color: var(--colWhite);
}
h1, .h1 {
  font-size: 4.65rem;
  line-height: 6rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
h2, .h2 {
  font-size: 2.8rem;
  line-height: 3rem;
  margin-top: 0rem;         /*1.5rem*/
  margin-bottom: 0rem;      /*1.5rem*/
}
h3, .h3 {
  font-size: 1.65rem;
  line-height: 3rem;
  margin-top: 0rem;         /*1.5rem*/
  margin-bottom: 1.5rem;
}
h4, .h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

h6, .h6 {
  font-size: 0.6rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
p, ul, ol, pre, table, blockquote {
  /* hyphens: auto; */
  margin-top: 0rem;
  margin-bottom: 1.5rem;

}

blockquote {
    display: block;
    font-weight: 300;
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
    margin-inline-start: 3rem;
    margin-inline-end: 4.5rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

a {
  color: var(--colPrim);
  text-decoration: inherit;
  transition: 0.2s ease;
}

a:hover {
  color: var(--colWhite);
}

l {
  font-weight: 300;
}

r {
  color: var(--colPrim);
}
.horizontal-list {
	height: 4.5rem;
	padding: 0px 0px;
  margin-right: 10%;
}


.horizontal-list li {
	padding-left: 1.5rem;
	display: inline;
  text-transform: uppercase;
}

/* .horizontal-list li:hover {
  padding-top: 0.5rem;
  letter-spacing: 0.2em;
  font-weight: 800;
} */


.vertical-list {
	padding: 0px 0px;


}


.vertical-list li {
	padding-top: 0rem;
  display: block;

}

.vertical-list li a:hover {
  /*letter-spacing: 0.1em;*/
  font-weight: 800;
}


 .row {
  display: flex;
  justify-content: center;
  overflow: hidden;
}



.spaced {
  margin: 0rem 0.5rem;
}



.column {
  float: left;
  padding: 0px;

}

.left {
  width: 50%;
  padding-right: 10%;
}

.right {
  width: 50%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#intro {
  padding: 3rem 10% ;
}
.description {
  padding: 6rem 10% ;
}

.maintxt {
  max-width: 32rem;
}
.sidetxt {
  color: var(--colGrey2);
}

.sidetxt img{
  width: 100%;
  height: auto;
}

.imgtxt {
  margin: 3rem 0rem;
}

.imgtxt p {
  margin-top: 1.5rem;
}
.column img {
  width: 100%;
}

.sidenotes .left {
  flex:60%;
}

.sidenotes .right {
  flex:30%;
}

.button {
  font-weight: 600;
  background-color: none;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  text-align: center;
  display: inline-block;

  line-height: 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.primary {
  background-color: var(--colPrim);
  color: var(--colWhite);
  letter-spacing: 0.1rem;
  font-weight: 800;
}



.secondary {
  border: 4px solid var(--colPrim);
}

.secondary:hover {
  background-color: var(--colPrim);
}

.soft {
  position: absolute;
  bottom: 1.5rem;
  right: 3rem;
  padding: 0.75rem 1.5rem;
  mix-blend-mode: soft-light;
  color: var(--colWhite);
}

.soft i {
  margin-left: 0.75rem;

}

.soft:hover {
  background-color: var(--colBGDark);

}



#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1.5rem 0rem 1.5rem 0rem;
  height: 1.5rem;
  background-color: inherit;
  opacity: 0.98;
  z-index: 100;
  width:100%;
}

#hero {
  padding: 6rem 10% 1.5rem 10%;

}

#hero h2 {
  max-width: 32rem;
}

#hero p {
  color: var(--colWhite);
    max-width: 32rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

#hero .row {
  margin-top: 4.5rem;
  flex-wrap: wrap;
  /* display: block; */
}

.row .logo {
  width: auto;
  margin: 0rem 1rem 1.5rem 0rem;
  height: 1.5rem;
  opacity: 0.6;
  filter: contrast(60%);
}



.container {
  flex: 1;
  height: 24rem;
  position: relative;
}

.container .image {
  display: block;
  width: auto;
  margin: 2rem auto;
  height: 80%;
  transition: 0.5s ease;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  background-color: inherit;
}

.hidden {
  opacity: 0;
}

.container:hover .overlay {
  opacity: 0.95;
}

.container:hover .image {
  filter: blur(0.2rem);
}

.overlay h3 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}




#testimonials {
  padding: 3rem 10% 3rem 10%;
  display:flex;
}


.quotebox {
  display: grid;
  margin: auto;
  text-align: center;
  width:80%;
}

.quotebox .logo {
  display: block;
  width: auto;
  margin: 1.5rem auto;
  height: 1.5rem;
}


.quotebox p{
  font-weight: 200;
  margin-bottom: 0rem;

}
.rating {
  display:block;
  margin: 1.5rem 0rem;
  color: var(--colYellow);
}

.rating a {
  margin-right: 1rem;
}

.rating a:hover {
  font-size: 1.2rem;


}



#tslider {

  padding: 3rem 10%;
}
.testimonial-slider ul.slider {
   display: block;
   list-style: none;
   padding: 0;
   position: relative;
   display: inline-block;
   width: 100%;
   height: 18rem;
   overflow: hidden;
   margin: 0 auto;
}

.testimonial-slider ul.slider li {
    position: absolute;
    display: block;
    width: 100%;
    opacity: 0;
    margin: 0 auto;
}
.testimonial-slider ul.slider li:nth-child(1) {
    opacity: 1;

    -webkit-animation: fade-animation-1 15s infinite;
            animation: fade-animation-1 15s infinite;
}
.testimonial-slider ul.slider li:nth-child(2) {
    -webkit-animation: fade-animation-2 15s infinite;
            animation: fade-animation-2 15s infinite;
}
.testimonial-slider ul.slider li:nth-child(3) {
    -webkit-animation: fade-animation-3 15s infinite;
            animation: fade-animation-3 15s infinite;
}
.testimonial-slider ul.slider li:nth-child(4) {
    -webkit-animation: fade-animation-4 15s infinite;
            animation: fade-animation-4 15s infinite;
}

.testimonial-slider q {
   display: inline-block;
   text-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.1);

}

.testimonial-slider .source {
    margin-top: 3rem;
    color: var(--colWhite);
}



#footer {
  padding: 3rem 10%;
  background-color: var(--colBGDark);

}

/* #footer .column {

  padding: 0px;

  margin: 0% 3rem;
  height: 15rem;
} */

#footer .column {
  flex: 50%;
  padding: 0px;
  margin: 0rem 5%;
}


/* KEYFRAME DECLARATIONS */
/*
#luvbutton {
  animation: boing 1s 0s 1;
} */

@keyframes boing {
  0%   {top: 0rem;}
  50%  {top: -1rem;}
  100% {top: 0rem;}
}


@keyframes fade-animation-1 {
    0%, 25%, 100% {
        opacity:0
    }
    3%, 22% {
        opacity: 1;
    }
}
@keyframes fade-animation-2 {
    0%, 25%, 50%, 100% {
        opacity:0
    }
    28%, 47% {
        opacity: 1;
    }
}
@keyframes fade-animation-3 {
    0%, 50%, 75%, 100% {
        opacity:0
    }
    53%, 72% {
        opacity: 1;
    }
}
@keyframes fade-animation-4 {
    0%, 75%, 100% {
        opacity:0
    }
    78%, 97% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-animation-1 {
    0%, 25%, 100% {
        opacity:0
    }
    3%, 22% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-2 {
    0%, 25%, 50%, 100% {
        opacity:0
    }
    28%, 47% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-3 {
    0%, 50%, 75%, 100% {
        opacity:0
    }
    53%, 72% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-4 {
    0%, 75%, 100% {
        opacity:0
    }
    78%, 97% {
        opacity: 1;
    }
}




/* Media queries */
@media screen and (min-width:1024px) {
  .articlewrapper {
    display: flex;
  }
  .sidetxt {
    margin-left: 6rem;
    max-width: 21rem;
  }

  #hero .row {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1024px) {


  #projects .row {
    display: grid;
  }
  .row .container {
    width: 100vw;
  }
  .testimonial-slider ul.slider {
    height: 21rem;
  }

  #hero .row {
    margin-top: 3rem;
  }

  .row .logo {
    width: auto;
    height: 1rem;
    margin: 0rem 1rem 1rem 0rem;
  }

  #footer l {
    display: none;
  }
}

@media screen and (max-width: 740px) {

  #hero .button {
    display: flex;
    justify-content: center;
    padding: auto;
    text-align: center;
    margin-top: 1.5rem;
  }

  .row .logo {
    width: auto;
    height: 0.75rem;
    margin: 0rem 1rem 0.75rem 0rem;
  }

  .testimonial-slider ul.slider {
    height: 27rem;
  }


  #footer .row {
    display: grid;
    width: 100%;
  }
  #footer .column {
    text-align: center;
  }
  #footer .rating a {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .quotebox {
    width: 100%;
  }

  #hero {
    padding: 6rem 5% 1.5rem 5%;
    height: 100%;
  }

 #navbar .horizontal-list {
   margin-right: 5%;
 }
  #projects l {
    display: none;
  }

  #tslider {
    padding: 3rem 5%;
  }

  #footer {
    padding: 3rem 5%;
  }

  .soft {
    width:50%;
    right: 20%;

      /* margin-left: -50px;
    margin-top: -50px; */
  }
}
