@charset "UTF-8";
/* Debug Mode */
/* Debug Mode End*/
/*1.8181818rem*/
html, .root {
  font-size: 22px;
  line-height: 40px;
  scroll-behavior: smooth;
  quotes: '“' '”' '‘' '’';
  --contentWidth: Min(44rem, 90vw);
}

body, .article {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 40px;
  margin: 0;
  background-color: #101B20;
  color: #ddd;
  background-position: center;
}

/*font sizes*/
body {
  /* Let's make sure all's aligned */
}

body h1, body .h1 {
  font-size: 3.3636364rem;
  line-height: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
}

body h2, body .h2 {
  font-size: 2.2727273rem;
  line-height: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
}

body h3, body .h3 {
  font-size: 1.5rem;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 0rem;
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

body h4, body .h4 {
  font-size: 1rem;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 0rem;
}

body h5, body .h5 {
  font-size: 1rem;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 0rem;
}

body p, body ul, body ol, body pre, body table, body blockquote {
  margin-top: 0rem;
  margin-bottom: 40px;
}

body ul ul, body ol ol, body ul ol, body ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

body hr, body .hr {
  border: 1px solid;
  margin: -1px 0;
}

body a, body b, body i, body strong, body em, body small, body code {
  line-height: 40px;
}

body sub, body sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

body sup {
  top: -0.5em;
}

body sub {
  bottom: -0.25em;
}

body a {
  color: #dd816f;
  text-decoration: inherit;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body a:hover {
  color: #ddd;
}

body l {
  font-weight: 300;
}

body r {
  color: #dd816f;
}

.tagStrip {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 80px;
  overflow-y: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tag {
  display: inline-block;
  opacity: 1;
  line-height: 1.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0rem 20px;
  margin: 1rem 0.4rem 1rem 0rem;
  border-radius: 0.3rem;
  color: white;
  border: 0.1rem solid white;
}

.button {
  font-weight: 600;
  background-color: none;
  text-transform: uppercase;
  padding: 20px 40px;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  cursor: pointer;
  border-radius: 0.6rem;
}

.primary {
  background-color: #dd816f;
  color: #ddd;
  letter-spacing: 0.1rem;
  font-weight: 800;
}

.secondary {
  border: 4px solid #dd816f;
}

.secondary:hover {
  background-color: #dd816f;
}

.soft {
  padding: 20px 40px;
  mix-blend-mode: soft-light;
  color: #ddd;
}

.soft i {
  margin-left: 20px;
}

.soft:hover {
  background-color: #101B20;
}

navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px calc(calc(100vw - var(--contentWidth)) / 2) 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

navbar a {
  margin-left: 2rem;
}

footer {
  background-color: #101518;
  padding: 40px calc(calc(100vw - var(--contentWidth)) / 2);
}

footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .column {
  text-align: center;
  width: 50%;
}

footer .column a {
  display: block;
}

footer .column span a {
  display: inline-block;
  margin: 0 0.6rem;
}

footer h3 {
  margin-bottom: 40px;
}

footer h6 {
  margin-top: 120px;
  text-align: center;
}

footer #luvbutton {
  margin: 0 0.2rem;
}

@-webkit-keyframes boing {
  0% {
    top: 0rem;
  }
  50% {
    top: -1rem;
  }
  100% {
    top: 0rem;
  }
}

@keyframes boing {
  0% {
    top: 0rem;
  }
  50% {
    top: -1rem;
  }
  100% {
    top: 0rem;
  }
}

#hero {
  padding: 80px calc(calc(100vw - var(--contentWidth)) / 2);
}

#hero .workedwith {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0;
}

#hero .workedwith .logo {
  width: auto;
  height: 32px;
  padding: 4px;
  margin: 20px 1rem;
  opacity: 0.8;
  -webkit-filter: contrast(60%);
          filter: contrast(60%);
}

#projects {
  background-color: #0f2129;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px calc(calc(100vw - var(--contentWidth)) / 2) 120px;
}

#projects h2 {
  margin-bottom: 0;
}

#projects .hidden {
  opacity: 0;
  left: -40px;
}

#projects .container {
  margin: 40px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border-radius: 0.6rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#projects .container .image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 440px;
  max-width: 100%;
  margin: auto;
}

#projects .container .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 480px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: inherit;
  color: white;
  padding: 60px Max(40px, 80px);
}

#projects .container .overlay span {
  margin: 40px 0;
  height: 40px;
}

#projects .container .overlay h3 {
  display: inline;
  padding: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.5rem;
}

#projects .container .overlay l {
  font-size: 1rem;
  padding: 0;
  line-height: 40px;
}

#projects .container .overlay p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  opacity: 0.9;
  margin-bottom: 0rem;
}

#projects .container .overlay .soft {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: auto;
}

#projects .container:hover .overlay {
  opacity: 1;
  left: 0;
}

#projects .container:hover .image {
  opacity: 0;
  -webkit-filter: blur(0.2rem);
          filter: blur(0.2rem);
}

#about {
  padding: 80px calc(calc(100vw - var(--contentWidth)) / 2) 160px;
}

#about .contentwrapper img {
  max-width: 40%;
  float: right;
  margin: 0 40px;
}

#about .secondary {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

#experience {
  background-color: #0f2129;
  padding: 80px calc(calc(100vw - var(--contentWidth)) / 2);
}

#experience .jobDetails {
  margin: 120px 0;
}

#experience .jobDetails h5 {
  margin-top: 0;
  opacity: 0.6;
}

#experience .jobDetails p {
  margin-top: 40px;
  max-width: 32rem;
}

#header {
  padding: 120px calc(calc(100vw - var(--contentWidth)) / 2);
  text-align: center;
  background-color: #101B20;
  color: #dd816f;
}

#header h3 {
  font-weight: 300;
  margin-top: 0;
}

#header h1 {
  color: #ddd;
  margin: 80px 0;
}

#header .projectStats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (Minmax(8rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, Minmax(8rem, 1fr));
  text-align: center;
  margin: 80px auto 0;
  opacity: 0.9;
  -ms-flex-line-pack: center;
      align-content: center;
}

#header .projectStats h6 {
  margin: 0;
}

#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px calc(calc(100vw - var(--contentWidth)) / 2);
  background-color: #0f2129;
}

#intro h3 {
  margin-bottom: 40px;
}

#intro .column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20rem;
          flex: 1 0 20rem;
  margin: 0rem 1rem;
}

.full-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* max-height: 36rem;
  overflow: hidden; */
}

.full-width img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  /* max-width: 96rem; */
  height: auto;
  margin: 0rem auto;
}

.chapter {
  padding: 160px calc(calc(100vw - var(--contentWidth)) / 2) 80px;
}

.chapter h3 {
  margin-bottom: 0rem;
  color: #dd816f;
}

.chapter h2 {
  margin: 0rem 0rem 40px;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  background-color: #101518;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px calc(calc(100vw - var(--contentWidth)) / 2);
}

.message h3 {
  margin: 0;
  max-width: 32rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #dd816f;
}

.message p {
  max-width: 32rem;
  font-size: 1.5rem;
  line-height: 40px;
  font-weight: 300;
  margin: 0;
}

.maintxt blockquote {
  border-left: 2px solid #dd816f;
  padding: 40px;
  margin: 40px 0;
}

.maintxt img {
  margin: 40px -2rem 80px;
  width: calc(100% + 4rem);
}

.maintxt h3 {
  margin-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */