/* Debug Mode */
// * {
//   outline: 2px solid red;
// }
/* Debug Mode End*/

$colText: #ccc;
$colPrim: #dd816f; //#EE6F57
$colBG0: #0b1013;
$colBG: #101B20;
$colBG1: #0f2129;
$colYellow: #FFB627;
$colGrey1: #404040;
$colGrey2: #cccccc;
$lineHeight: 40px; /*1.8181818rem*/

$pageMargin: calc(calc(100vw - var(--contentWidth)) / 2);
$boxMargin: Max($lineHeight, 2 * $lineHeight) ;

html, .root {
  font-size: 22px;
  line-height: $lineHeight;
  scroll-behavior: smooth;
  quotes: '“' '”' '‘' '’';
  --contentWidth: Min(44rem, 90vw);
}
body, .article {
  font-family: 'Lato', sans-serif;  
  font-size: 1rem;
  line-height: $lineHeight;
  margin: 0;
  background-color: $colBG;
  color: $colText;
	background-position: center;
}
/*font sizes*/
body {
  h1, .h1 {
    font-size: 3.3636364rem;
    line-height: 2 * $lineHeight;
    margin-top: $lineHeight;
    margin-bottom: $lineHeight;
  }
  h2, .h2 {
    font-size: 2.2727273rem;
    line-height: 2* $lineHeight;
    margin-top: $lineHeight;
    margin-bottom: $lineHeight;
  }
  h3, .h3 {
    font-size: 1.5rem;
    line-height: $lineHeight;
    margin-top: $lineHeight;
    margin-bottom: 0rem;
    margin-block-start: $lineHeight;
    margin-block-end: 0;
  }
  h4, .h4 {
    font-size: 1rem;
    line-height: $lineHeight;
    margin-top: $lineHeight;
    margin-bottom: 0rem;
  }
  h5, .h5 {
    font-size: 1rem;
    line-height: $lineHeight;
    margin-top: $lineHeight;
    margin-bottom: 0rem;
  }
  p, ul, ol, pre, table, blockquote {
    margin-top: 0rem;
    margin-bottom: $lineHeight;
  }
  ul ul, ol ol, ul ol, ol ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  
  /* Let's make sure all's aligned */
  hr, .hr {
    border: 1px solid;
    margin: -1px 0;
  }
  a, b, i, strong, em, small, code {
    line-height: $lineHeight;
  }
  sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }

  a {
    color: $colPrim;
    text-decoration: inherit;
    transition: 0.2s ease;
  }
  
  a:hover {
    color: $colText;
  }
  
  l {
    font-weight: 300;
  }
  
  r {
    color: $colPrim;
  }
  
}
.tagStrip {
  flex-flow: row wrap;
  height: 2 * $lineHeight;
  overflow-y: hidden;
  justify-content: center;
}
.tag {
  display: inline-block;
  opacity: 1;
  line-height: 1.4rem;
  width: fit-content;
  padding: 0rem $lineHeight / 2;
  margin: 1rem 0.4rem 1rem 0rem;
  border-radius: 0.3rem;
  color: white;
  border: 0.1rem solid white;
}
.button {
  font-weight: 600;
  background-color: none;
  text-transform: uppercase;
  padding: $lineHeight / 2 $lineHeight;
  text-align: center;
  display: inline-block;

  line-height: $lineHeight;
  cursor: pointer;
  border-radius: 0.6rem;
}
.primary {
  background-color: $colPrim;
  color: $colText;
  letter-spacing: 0.1rem;
  font-weight: 800;
}
.secondary {
  border: 4px solid $colPrim;
}
.secondary:hover {
  background-color: $colPrim;
}
.soft {
  padding: $lineHeight / 2 $lineHeight;
  mix-blend-mode: soft-light;
  color: $colText;
  i {
    margin-left: $lineHeight / 2;
  }
}
.soft:hover {
  background-color: $colBG;
}

navbar {
  display: flex;
  padding: 1.5 * $lineHeight $pageMargin 0.5 * $lineHeight;
  justify-content: flex-end;
  gap: 2rem;
}

footer {
  padding: 1 * $lineHeight $pageMargin;
  .row {
    display: flex;
    gap: 4rem;
    justify-content: center;
  }
  .column {
    text-align: center;   //remove this
    width: 50%;
    a {
      display: block;
    }
    span a {
      display: inline-block;
      margin: 0 0.6rem;
    }
  }

  h3 {
    margin-bottom: $lineHeight;
  }
  h6 {
    margin-top: 3 * $lineHeight;
    text-align: center;
  }
}

@keyframes boing {
  0%   {top: 0rem;}
  50%  {top: -1rem;}
  100% {top: 0rem;}
}

#hero {
  padding: 2 * $lineHeight $pageMargin;
  .workedwith {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 2 * $lineHeight 0;
    .logo {
      width: auto;
      height: $lineHeight;
      opacity: 0.8;
      filter: contrast(60%);
    }
  }
}

#projects {
  background-color: $colBG1;
  display: flex;
  flex-direction: column;
  padding: 2 * $lineHeight $pageMargin 3 * $lineHeight;
  gap: 2 * $lineHeight;
  h2 {
    margin-bottom: 0;
  }
  .hidden {
    opacity: 0;
    left: -($lineHeight);
  }
  .container {
    height: fit-content;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 0.6rem;
    transition: 0.3s ease;
    .image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 11 * $lineHeight;
      max-width: 100%;
      margin: auto;
    }
    .overlay {
      display: flex;
      position: relative;
      flex-direction: column;
      min-height: 12 * $lineHeight;
      transition: 0.5s ease;
      background-color: inherit;
      color: white;
      padding: 1.5 * $lineHeight $boxMargin;
      span {
        margin: $lineHeight 0;
        height: $lineHeight;
      }
      h3 {
        display: inline;
        padding: 0;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 0.5rem;
      }
      l {
        font-size: 1rem;
        padding: 0;
        line-height: $lineHeight;
      }
      p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        opacity: 0.9;
        margin-bottom: 0rem;
      }
      .soft {
        align-self: flex-end;
        margin-top: auto;
      }
    }
  }
  .container:hover {
    .overlay {
      opacity: 1;
      left: 0;
    }
    .image {
      opacity: 0;
      filter: blur(0.2rem);
    }
  }
}

#about {
  padding: 2 * $lineHeight $pageMargin 4 * $lineHeight;
  .contentwrapper {
    img {
      max-width: 40%;
      float: right;
      margin: 0 $lineHeight;
    }
  }
  .secondary {
    box-sizing: border-box;
    width: 100%;
  }
}

#experience {
  background-color: $colBG1;
  padding: 2 * $lineHeight $pageMargin;
  .jobDetails{
    margin: 3 * $lineHeight 0;
    h5 {
      margin-top: 0;
      opacity: 0.6;
    }
    p {
      margin-top: $lineHeight;
      max-width: 32rem;
    }
  }
}

#header{
  padding: 3 * $lineHeight $pageMargin;
  text-align: center;
  background-color: $colBG;
  h3 {
    font-weight: 300;
  }
  .projectStats {
    display: grid;
    grid-template-columns: repeat(auto-fit, Minmax(8rem, 1fr));
    text-align: center;
    margin: 2 * $lineHeight auto 0;
    opacity: 0.9;
    align-content: center;
    h6 {
      margin-bottom: 0;
    }
    h3 {
      margin-top:0;
    }
  }
}

#intro {
  display: flex;
  flex-wrap: wrap;
  padding: 2 * $lineHeight $pageMargin;
  background-color: $colBG1;
  h3 {
    margin-bottom: $lineHeight;
  }
  .column {
    flex: 1 0 20rem;
    margin: 0rem 1rem;
  }
}

.full-width {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-height: 36rem;
  overflow: hidden; */
  img {
    box-sizing: border-box;
    width: 100vw;
    /* max-width: 96rem; */
    height:auto;
    margin: 0rem auto;
  }
}

.chapter {
  padding: 4 * $lineHeight $pageMargin 2 * $lineHeight;
  h3 {
    margin-bottom: 0rem;
    color: $colPrim;
  }
  h2 {
    margin: 0rem 0rem $lineHeight;
  }
}

.message {
  display: flex;
  background-color: $colBG0;
  align-items: center;
  // justify-content: center;
  padding: 2 * $lineHeight $pageMargin;
  h3 {
    margin: 0 4rem 0 0;
    width: 8rem;
    color: $colPrim;
  }
  p {
    font-size: 1.5rem;
    line-height: $lineHeight;
    font-weight: 300;
    margin: 0 auto;
    width: calc(100% - 8rem);
  }
}

.maintxt {
  // max-width: 40rem;
  blockquote {
    border-left: 2px solid $colPrim;
    padding: $lineHeight;
    margin:0;
  }
  img {
    margin: $lineHeight -2rem 2 * $lineHeight;
    width: calc(100% + 4rem);
  }
  h3 {
    margin-bottom: $lineHeight;
  }
}

// .sidetxt {
//   color: $colGrey2;
//   img{
//     width: 100%;
//     height: auto;
//   }
// }

// .imgtxt {
//   margin: 2 * $lineHeight 0;
//   p {
//     margin-top: $lineHeight;
//   }
// }

// .column img {
//   width: 100%;
// }

// .sidenotes .left {
//   flex:60%;
// }

// .sidenotes .right {
//   flex:30%;
// }




